header
  ul(role="navigation").nav
    li.nav-item 
     a(href="/portfolio") portfolio
    li.nav-item
      div.contact
        h3.nav-item-heading holla at me
        a(href="mailto:realalexhomer@gmail.com") email, 
        a(href="https://github.com/realalexhomer") github, 
        .
          & 
        a(href="https://www.linkedin.com/in/realalexhomer/") linkedin
